<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>You-Get WebUI -Index</title>
	<style type="text/css">
		#page{
			margin:0;
			background: rgb(200,210,200);
		}
		.content{
			margin:50px auto;
			border-radius: 10px;
			width: 85%;
			background: rgba(220,220,220,0.7);
			padding:10px;line-height:2.2em
		}
		ul li a{
			color:rgb(100,100,100)
		}
	</style>
</head>
<body id="page">
	<div class="content">
		<span style="font-size: 1.3em;border-bottom: 1px solid gray;">You-Get WebUI</span>
		<span style="float:right"><a href="/" >Refresh</a></span>
		<div style="margin:50px 20px">
			<form action="/go" method='post'>
			输入网址(支持优酷,Bilibili,Youtube):<br/><input id="url" type="text" name="url" placeholder="请输入网址" style="auto">
			
			<input type="submit" value="Go">
			<p>Tip1:添加任务后会启用后台线程下载，暂时无法进行任务管理。</p>
			<p>Tip2:有时候可能会遇到Mine类型映射问题，需要下载请右键另存为。</p>
			<p>Tip3:在线播放仅支持MP4和FLV格式。</p>
			</form>
		</div>
		
		<div class="myList">
			<ol>
			{% for i in mylist %}
				<li>{{i['filename']}}&emsp;|&emsp;{{i['size']}}&emsp;|&emsp;{{i['date']}}&emsp;
				{% if '.mp4' in i['filename'] or '.flv' in i['filename'] or '.ogg' in i['filename'] %}
				<a href="/play/{{i['filename']}}">播放</a>|
				{% endif %}
				<a href="/get/{{i['filename']}}" target="_blank">下载</a></li>
			{% endfor %}
			</ol>
		</div>
	</div>
</body>
</html>