<!DOCTYPE html>
<html>
<head itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>{{filename}}</title>
	<style type="text/css">
		#page{
			background: rgb(200,210,200);
		}
		.content{
			margin:20px auto 0 auto;
			border-radius: 10px;
			width: 95%;
			background: rgba(220,220,220,0.7);
			padding:10px;line-height:2.2em
		}
		a{
			color:rgb(100,100,100);
			text-decoration:none;
			color:#0e90d2;
		}
		h4{
			margin:5px;
			line-height:1.5em;
			pading:5px;
		}
	</style>
	<script src="https://cdn.bootcss.com/flv.js/1.4.2/flv.min.js">
	/*Bilibili Flvjs
		https://github.com/Bilibili/flv.js
	*/
	</script>
</head>
<body id="page">
	<div class="content">
	<h4>{{filename}}</h4>
	<video id="mplayer" controls height="auto" width="100%" style="background:gray">
	</video>
	<script>
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('mplayer');
        var flvPlayer = flvjs.createPlayer({
		{% if '.flv' in filename %}
            type: 'flv',
		{% elif '.mp4' in filename %}
			type: 'mp4',
		{% elif '.webm' in filename %}
			type: 'webm',
		{% else %}
			type: 'ogg',
		{% endif %}
            url: '/static{{workpath}}/{{filename}}'
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
    }
	</script>
	</div>
</body>
</html>
	